/* This is a CSS comment.*/

.title{
	background-color: #33BEBE;
	color: white;
	padding: 20px;
}
.front{
	display: flex;
}

.screenshot{
	max-width: 420px;
	min-width: 250px;
	margin-top: 20px;
	margin-bottom: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 20px;
}

.screenshot img{
	width: 100%;
	height: auto;
}

.text{
	color: blue;
}

.intro{	
	color: #7C8B88;
	max-width: 705px
}

* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
